/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
:: Macros styling
:: foundation customization

*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.bg {
    /*background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

img.bg {
    background: url(../images/bg.png);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.topbar {
    float: right;
    background: #45545B;
    color: #fff;
    padding: 0 0 0 0;
}

#logo {
    width: 100%;
    background: #fff;
    /*padding: 40px 0 15px;*/
    padding: 15px 0;
}

#container {
    width: 100%;
    margin: 0px;
    padding: 15px 0 0;
    /*background: url(../images/bg.png) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

.leftbar {
}

.navcontainer {
}

.toggleMenu {
    display: none;
    background: url(../images/menu_smalldevice.png) no-repeat center #75838B;
    width: 50px;
    height: 45px;
    padding: 10px;
    content: "";
    border-top: 4px solid #DCDB4D;
    color: #FFFFFF;
    cursor: pointer;
}

#menu-icon {
    display: none;
}

.user-info{
    text-align: center;
}

.user-info .user-name{
    margin: 0;
}

.sidebox {
    margin: 0 0 15px 0;
    padding: 15px;
    background: #75838B;
    border-top: solid 4px #DCDB4D;
    -webkit-box-shadow: 0px 3px 5px #999;
    box-shadow: 0px 3px 5px #999;
}

.sidebox b {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.sidebox p, li {
    color: #fff;
    font-size: 12px;
    list-style: none;
    padding: 5px 0 0;
}

.sidebox p a {
    color: #DCDB4D;
    font-size: 12px;
}

.sidebox p a:hover {
    color: #DCDB4D;
    font-size: 12px;
}

.sidebox a {
    color: #fff;
    font-weight: bold;
}

.sidebox a:hover {
    color: #fff;
    font-weight: bold;
}

.searchbox {
    height: 30px;
}

.sidebox form .searchtxt {
    position: absolute;
    width: 60%;
    border: none;
    top: 12px;
    color: #727272;
    border-bottom: 1px solid #ddd;
}

.sidebox .sidebox-header{
    margin: 0 0 5px 0;
    font-weight: 900;
    font-size: 1.1em;
    padding-top: 0;
}

.sidebox li a{
    display:block;
    padding: 2px 0;
    font-weight: 500;
}



::-webkit-input-placeholder {
    color: white;
    font-weight: normal;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

.sidebox form .submitbtn {
    position: absolute;
    right: 10%;
    top: 14px;
}

.boxplus a:before {
    font-weight: bold;
    color: #DCDB4D;
    content: "\002B \0020";
}

.boxplus a:hover {
    color: #DCDB4D;
}

.main {
}

#breadcrumb {
    margin: 0;
}

.inner-content {
    margin: 0 0 15px 0;
    padding: 15px;
    background: #fff;
    -webkit-box-shadow: 0px 3px 5px #999;
    box-shadow: 0px 3px 5px #999;
    min-height: 500px;
}

.inner-content a:hover {
    text-decoration: underline;
}

.txt {
    padding: 0px 45px 15px 15px;
}

.txtHome {
    padding: 0 15px 15px 15px;
}

.content-code {
    margin: 0 7px;
    padding: 15px 100px 15px 15px;
    background: #eef6d9;
}

.footer-content {
    padding: 25px 15px 15px;
    color: #fff;
    font-size: 14px;
}

.footer-content p {
    padding: 1px 0 0 0;
    color: #fff;
}

ul.text {
    margin-bottom: 1em;
    line-height: 1.5em;
}

.text-center {
    text-align: center;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

/* -----------------------------------------
   Home
----------------------------------------- */

.boxelements {
    padding: 0 5px;
}

.element img {
    display: block;
    margin: 0 auto;
}

.element a h2 {
    font-family: "DINWeb-Medium", "Helvetica Neue", "Helvetica", Helvetica, Arial, Sans-Serif;
    color: #3f7a99;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.element h2 a:hover {
    color: #3f7a99;
    text-decoration: none;
}

/* -----------------------------------------
   foundation customization
----------------------------------------- */
/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */

@font-face {
    font-family: DINWeb-Medium;
    src: url("../fonts/DINWeb-Medium.eot");
}

@font-face {
    font-family: DINWeb-Medium;
    src: url("../fonts/DINWeb-Medium.woff") ;
}

@font-face {
    font-family: DINWeb-Medium;
    src: url("../fonts/DINComp-Medium.ttf");
}

body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    color: #222222;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* Links ---------------------- */
a img {
    border: none;
}

a {
    text-decoration: none;
    line-height: inherit;
}

a:hover {
    color: #009DDF;
}

a:active {
    color: #FFF;
}

p a, p a:visited {
    line-height: inherit;
}

/* Misc ---------------------- */
.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.hide-override {
    display: none !important;
}

.highlight {
    background: #ffff99;
}

/* Base Type Styles Using Modular Scale ---------------------- */
body{
    color: #222222;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-size: 12px;
    direction: ltr;
}

p {
    font-family: inherit;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 17px;
}

.inner-content  div{
    line-height: 1.5em;
}

p.lead {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 17px;
}

aside p {
    font-size: 13px;
    line-height: 1.35;
    font-style: italic;
}

h1 {
    font-family: "DINWeb-Medium", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 3em;
    color: #3F7A99;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    margin: 14px 0 4px;
}

h2 {
    font-family: "DINWeb-Medium", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: #009DDF;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    margin: 10px 0 0px;
}

h3 {
    font-size: 1.2em;
    margin: 14px 0;
}

h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 80%;
    color: #6f6f6f;
    line-height: 0;
}

.rlt-title {
    color: #3F7A99;
    font-family: "DINWeb-Medium", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-size: 1.25em;
}

hr {
    border: solid #6d6c6c;
    border-width: 2px 0 0;
    clear: both;
    margin: 22px 7px 21px;
    height: 0;
}

code {
    line-height: 1.5;
    color: #000;
    font-weight: normal;
    background: none;
}

/* Lists ---------------------- */
ul, ol, dl {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 17px;
    list-style-position: outside;
    color: #222222;
}

ul li ul, ul li ol {
    margin-left: 0px;
    margin-bottom: 0;
}

ul.square, ul.circle, ul.disc {
    margin-left: 17px;
}

ul.square {
    list-style-type: square;
}

ul.square li ul {
    list-style: inherit;
}

ul.circle {
    list-style-type: circle;
}

ul.circle li ul {
    list-style: inherit;
}

ul.disc {
    list-style-type: disc;
}

ul.disc li ul {
    list-style: inherit;
}

ul.no-bullet {
    list-style: none;
}

ul.large li {
    line-height: 21px;
}

ol {
    margin-left: 20px;
}

ol li ul, ol li ol {
    margin-left: 20px;
    margin-bottom: 0;
}

/* Blockquotes ---------------------- */
blockquote {
    background: #75838B;
    margin-bottom: 50px;
    padding: 0 15px 15px;
    border-left: 1px solid #dddddd;
}

blockquote p {
    display: block;
    font-family: "DINWeb-Medium", "Helvetica Neue", "Helvetica", Helvetica, Arial, Sans-Serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    color: #fff;
    background-color: #6f6f6f;
}

blockquote ul li {
    padding: 15px;
    background: #75838B;
}

blockquote a {
    color: #DCDB4D;
}

blockquote a:hover {
    color: #DCDB4D;
    text-decoration: underline;
}

blockquote a:before, a:visited {
    content: "\2014 \0020";
}

/* Requires globals.css */
/* Standard Forms ---------------------- */
form {
    margin: 0 0 11px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    background-color: transparent;
    font-family: inherit;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    margin: 0 0 22px 0;
    padding: 6px;
    height: 24px;
    width: 100%;
}

input[type="text"].oversize, input[type="password"].oversize, input[type="date"].oversize, input[type="datetime"].oversize, input[type="email"].oversize, input[type="number"].oversize, input[type="search"].oversize, input[type="tel"].oversize, input[type="time"].oversize, input[type="url"].oversize, textarea.oversize {
    font-size: 17px;
    padding: 4px 6px;
}

input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    background: transparent;
    border: none;
}

input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] {
    background-color: #ddd;
}

textarea {
    height: auto;
}

select {
    width: 100%;
}

/* Fieldsets */
fieldset {
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    padding: 12px;
    margin: 18px 0;
}

fieldset legend {
    font-weight: bold;
    background: white;
    padding: 0 3px;
    margin: 0;
    margin-left: -3px;
}

/* The Grid ---------------------- */
.row {
    width: 1280px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
}

.row.collapse .column, .row.collapse .columns {
    padding: 0;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
}

.row .row.collapse {
    margin: 0;
}

.column, .columns {
    float: left;
    min-height: 1px;
    padding: 0 10px;
    position: relative;
}

.column.centered, .columns.centered {
    float: none;
    margin: 0 auto;
}

/* Table of Contents

:: Visibility
:: Alerts
:: Labels
:: Tooltips
:: Panels
:: Accordion
:: Side Nav
:: Sub Nav
:: Pagination
:: Breadcrumbs
:: Lists
:: Inline/Link Lists
:: Keystroke Chars
:: Image Thumbnails
:: Video
:: Tables
:: Microformats
:: Progress Bars
:: Pricing Tables
*/

/* Panels ---------------------- */
.panel {
    background: #45545B;
    border: none;
    margin: 0;
    padding: 0; /*-webkit-box-shadow: 5px 5px 5px #999; box-shadow: 0px 3px 15px #999;*/
}

.panel > :first-child {
    margin-top: 0;
}

.panel > :last-child {
    margin-bottom: 0;
}

.panel.callout {
    background: #2ba6cb;
    color: #fff;
    border-color: #2284a1;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.panel.callout a {
    color: #fff;
}

.panel.callout .button {
    background: white;
    border: none;
    color: #2ba6cb;
    text-shadow: none;
}

.panel.callout .button:hover, .panel.callout .button:focus {
    background: rgba(255, 255, 255, 0.8);
}

.panel.radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.panelContent {
    background: #fff;
}

/* Accordion ---------------------- */
.bgparent {
    background: #DCDB4D;
}

.bgparent:active {
    background: #DCDB4D;
}

.bgparent a:hover {
    color: #FFF;
}

.accordion ul, ul li {
    list-style: none;
}

ul.accordion {
    display: block;
    margin: 0 0 22px 0;
    padding: 0 0 20px;
    border-bottom: none;
    border-top: 4px solid #DCDB4D;
    color: #fff;
    background: #75838B;
    -webkit-box-shadow: 0px 3px 5px #999;
    box-shadow: 0px 3px 5px #999;
}

ul.accordion li a {
    color: #fff;
    font-weight: bold;
    padding: 7px 0 7px 15px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

ul.accordion a:hover {
    color: #DCDB4D;
}

ul.accordion > li.bgparent a:hover {
    color: #FFF;
}

ul.accordion > li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: none;
    border-bottom: 2px solid #939EAD;
}

ul.accordion > li > ul > li {
    list-style: none;
    margin: 0;
    padding-left: 0px;
    border-top: 2px solid #939EAD;
    background: #545f66;
    font-weight: normal;
}

ul.accordion > li > ul > li:last-child {
    list-style: none;
    margin: 0;
    padding-left: 0px;
    border-top: 2px solid #939EAD;
    background: #545f66;
    font-weight: normal;
}

ul.accordion > li > ul > li a {
    padding: 5px 0 5px 15px;
    font-weight: normal;
}

ul.accordion > li > ul > li a:before {
    content: "\2011\0020";
    font-weight: bold;
}

ul.accordion > li > ul > li > ul > li {
    list-style: none;
    margin: 0;
    padding-left: 0px;
    border-top: 2px solid #75838B;
    background: #45545B;
}

ul.accordion > li > ul > li > ul > li a:before {
    content: "\2014\0020";
    font-weight: bold;
}

ul.accordion > li > ul > li > ul > li:last-child {
    border-top: 2px solid #75838B;
}

ul.accordion > li > ul > li > ul > li > ul > li {
    list-style: none;
    margin: 0;
    padding-left: 10px;
    border-top: 1px solid #75838B;
}

ul.accordion > li > div.title {
    cursor: pointer;
    background: #f6f6f6;
    padding: 15px;
    margin: 0;
    position: relative;
    border-left: 1px solid #75838B;
    border-right: 1px solid #e9e9e9;
    -webkit-transition: 0.15s background linear;
    -moz-transition: 0.15s background linear;
    -o-transition: 0.15s background linear;
    transition: 0.15s background linear;
}

ul.accordion > li > div.title h1, ul.accordion > li > div.title h2, ul.accordion > li > div.title h3, ul.accordion > li > div.title h4, ul.accordion > li > div.title h5 {
    margin: 0;
}

ul.accordion > li > div.title:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 6px;
    border-color: transparent #9d9d9d transparent transparent;
    position: absolute;
    right: 15px;
    top: 21px;
}

ul.accordion > li .content {
    display: none;
}

ul.accordion > li.active .title {
    background: white;
    padding-top: 13px;
}

ul.accordion > li.active .title:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 6px;
    border-color: #9d9d9d transparent transparent transparent;
}

ul.accordion > li.active .content {
    background: white;
    display: block;
    border-left: 1px solid #939EAD;
    border-right: 1px solid #939EAD;
}

ul.accordion li.current > a {
    color: #DCDB4D;
    font-weight: bold;
}

ul.accordion li ul li.current > a:before {
    content: "\2011\0020";
    font-weight: bold;
}

ul.accordion li ul li ul li.current > a:before {
    content: "\2014\0020";
    font-weight: bold;
}

/* Sub Navs http://www.zurb.com/article/292/how-to-create-simple-and-effective-sub-na ---------------------- */
dl.sub-nav {
    display: block;
    width: auto;
    overflow: hidden;
    margin: -4px 0 0;
    margin-right: 0;
    margin-left: 0px;
    padding-top: 4px;
}

dl.sub-nav dt, dl.sub-nav dd {
    float: left;
    display: inline;
    margin: 6px 0 6px 9px;
}

dl.sub-nav dt {
    color: #fff;
    font-size: 11px;
    font-weight: normal;
}

dl.sub-nav dd a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border-radius: 1000px;
}

dl.sub-nav dd a:before {
    content: "\00B7 \0020";
}

dl.sub-nav dd a:first-child {
    content: "";
}

dl.sub-nav dd.active a {
    font-weight: bold;
    background: #2ba6cb;
    color: #fff;
    padding: 3px 9px;
    cursor: default;
}

/* Sub Navs http://www.zurb.com/article/292/how-to-create-simple-and-effective-sub-na ---------------------- */
ul.sub-nav {
    display: inline;
    width: auto;
    overflow: hidden;
    margin: -4px 0 0;
    margin-right: 0;
    margin-left: 0px;
    padding-top: 4px;
}

ul.sub-nav li, ul.sub-nav li {
    float: left;
    display: inline;
    margin: 6px 5px 6px 20px;
    color: #fff;
}

ul.sub-nav dt {
    color: #fff;
    font-size: 11px;
    font-weight: normal;
}

ul.sub-nav li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
}

ul.sub-nav li.active a {
    font-weight: bold;
    background: #2ba6cb;
    color: #fff;
    padding: 3px 9px;
    cursor: default;
}

ul.sub-nav li a:hover {
    color: #DCDB4D;
}

/* Breadcrums ---------------------- */
ul.breadcrumbs {
    display: block;
    background: #45545B;
    padding: 10px 15px 11px;
    border: none;
    border-top: solid 4px #DCDB4D;
    border-radius: 0;
    -webkit-box-shadow: 0px 3px 15px #999;
    -moz-border-shadow: 0px 3px 15px #999;
    -ms-border-shadow: 0px 3px 15px #999;
    -o-border-shadow: 0px 3px 15px #999;
    box-shadow: 0px 3px 15px #999;
    overflow: hidden;
    margin-left: 0;
}

ul.breadcrumbs li {
    margin: 0;
    padding: 0 5px 0 0;
    float: left;
    list-style: none;
    background: transparent;
}

ul.breadcrumbs li a, ul.breadcrumbs li span {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.3rem;
    padding-left: 5px;
    text-transform: none;
}

ul.breadcrumbs li a:hover {
    color: #DCDB4D;
    text-decoration: none;
}

ul.breadcrumbs li:first-child a, ul.breadcrumbs li:first-child span {
    padding-left: 0;
}

ul.breadcrumbs li:before {
    content: "/";
    color: #fff;
    font-weight: bold;
}

ul.breadcrumbs li:first-child:before {
    content: " ";
}

ul.breadcrumbs li.current a {
    cursor: default;
    color: #DCDB4D;
}

ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus {
    text-decoration: none;
}

ul.breadcrumbs li.current:hover a, ul.breadcrumbs li.current a:focus {
    text-decoration: none;
}

ul.breadcrumbs li.unavailable a {
    color: #fff;
}

ul.breadcrumbs li.unavailable:hover a, ul.breadcrumbs li.unavailable a:focus {
    text-decoration: none;
    cursor: default;
}

/* <nav> */
.top-bar {
    background: #222222;
    min-height: 45px;
    line-height: 45px;
    margin: 0 0 30px 0;
    padding: 0;
    width: 100%;
    position: relative; /* Contain width to .row width */
    /* First <ul> for branding, title, name, etc */
    /* topbar global <ul> styles */
}

.contain-to-grid .top-bar {
    max-width: 940px;
    margin: 0 auto;
}

.top-bar > ul .name h1 {
    line-height: 45px;
    margin: 0;
}

.top-bar > ul .name h1 a {
    font-weight: bold;
    padding: 0 22px;
    font-size: 17px !important;
}

.top-bar > ul .name img {
    margin-top: -5px;
    vertical-align: middle;
}

.top-bar.expanded {
    height: inherit;
}

.top-bar ul {
    margin-left: 0;
    display: inline;
    height: 45px;
    line-height: 45px;
    list-style: none; /* Main Navigation links style */
    /* Left Side <ul> */
    /* Right Side <ul> */
}

.top-bar ul > li {
    float: left; /* Dividers between navigation */
    /* Put a button in an <li> but give is a class */
    /* Put a search bar or text input in the bar */
    /* Put login bar in the top bar */
    /* Hide the triangle for breakpoint menu */
    /* li.has-dropdown */
}

.top-bar ul > li a:not(.button) {
    color: white;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
}

.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active, .top-bar ul > li:not(.name):focus {
    background: black;
}

.top-bar ul > li:not(.name):hover a, .top-bar ul > li:not(.name).active a, .top-bar ul > li:not(.name):focus a {
    color: #d9d9d9;
}

.top-bar ul > li.divider {
    background: black;
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    height: 100%;
    margin-right: 1px;
    width: 1px;
}

.top-bar ul > li.has-button a.button {
    margin: 0 11px;
}

.top-bar ul > li.has-button:hover, .top-bar ul > li.has-button:focus {
    background: #222222;
}

.top-bar ul > li.has-button:hover a, .top-bar ul > li.has-button:focus a {
    color: #fff;
}

.top-bar ul > li.search {
    padding: 0 15px;
}

.top-bar ul > li.search form {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 200px;
}

.top-bar ul > li.search form input[type=text] {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    font-size: 13px;
    margin-top: -1px;
    height: 22px;
    margin-bottom: 0;
    width: 130px;
}

.top-bar ul > li.search form input[type=text] + .button {
    border-left: none;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    float: left;
    font-size: 12px;
    margin-top: -1px;
    padding: 5px 12px 4px;
}

.top-bar ul > li.search form input[type=search] {
    font-size: 16px;
    margin-bottom: 0;
}

.top-bar ul > li.search:hover, .top-bar ul > li.search:focus {
    background: #222222;
}

.top-bar ul > li.login {
    padding: 0 15px;
}

.top-bar ul > li.login form {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 300px;
}

.top-bar ul > li.login form input {
    float: left;
    width: auto;
    font-size: 13px;
    margin-top: -1px;
    height: 22px;
    margin-bottom: 0;
}

.top-bar ul > li.login form input[type=text] {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 120px;
}

.top-bar ul > li.login form input[type=password] {
    margin-bottom: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 120px;
}

.top-bar ul > li.login form input[type=password] + .button {
    border-left: none;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    float: left;
    font-size: 12px;
    margin-top: -1px;
    padding: 5px 12px 4px;
    width: 60px;
}

.top-bar ul > li.login:hover, .top-bar ul > li.login:focus {
    background: #222222;
}

.top-bar ul > li.toggle-topbar {
    display: none;
}

.top-bar ul > li.has-dropdown {
    position: relative; /* Dropdown Level 2+ */
}

.top-bar ul > li.has-dropdown:hover > .dropdown, .top-bar ul > li.has-dropdown:focus > .dropdown {
    display: block;
    visibility: visible;
}

.top-bar ul > li.has-dropdown a {
    padding-right: 34px;
}

.top-bar ul > li.has-dropdown a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: white transparent transparent transparent;
    margin-right: 15px;
    margin-top: -2.5px;
    position: absolute;
    right: 0;
    top: 50%;
}

.top-bar ul > li.has-dropdown .dropdown {
    background: #222222;
    left: 0;
    margin: 0;
    padding: 9px 0 0 0;
    position: absolute;
    visibility: hidden;
    z-index: 99;
}

.top-bar ul > li.has-dropdown .dropdown li {
    background: #222222;
    line-height: 1;
    min-width: 100%;
    padding-bottom: 5px;
}

.top-bar ul > li.has-dropdown .dropdown li a {
    color: white;
    font-weight: normal;
    height: 100%;
    line-height: 1;
    padding: 5px 17px 5px 15px;
    white-space: nowrap;
}

.top-bar ul > li.has-dropdown .dropdown li a:after {
    border: none;
}

.top-bar ul > li.has-dropdown .dropdown li a:hover, .top-bar ul > li.has-dropdown .dropdown li a:focus {
    background: #3c3c3c;
}

.top-bar ul > li.has-dropdown .dropdown li label {
    color: #6f6f6f;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    padding-left: 15px;
    text-transform: uppercase;
}

.top-bar ul > li.has-dropdown .dropdown li.divider {
    border-top: solid 1px black;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    height: 10px;
    padding: 0;
    width: 100%;
}

.top-bar ul > li.has-dropdown .dropdown li:last-child {
    padding-bottom: 10px;
}

.top-bar ul > li.has-dropdown .dropdown li.active a {
    background: black;
}

.top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a {
    padding-right: 30px;
}

.top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a:after {
    border: none;
    content: "\00bb";
    right: 5px;
    top: 6px;
}

.top-bar ul > li.has-dropdown .dropdown li.has-dropdown .dropdown {
    position: absolute;
    left: 100%;
    top: 0;
}

.top-bar ul > li.has-dropdown .dropdown li.has-dropdown:hover > .dropdown, .top-bar ul > li.has-dropdown .dropdown li.has-dropdown:focus > .dropdown {
    display: block;
}

.top-bar ul.left {
    float: left;
    width: auto;
    margin-bottom: 0;
}

.top-bar ul.right {
    float: right;
    width: auto;
    margin-bottom: 0; /* Dropdown Right Side Alignment */
}

.top-bar ul.right .has-dropdown .dropdown {
    left: auto;
    right: 0px;
}

.top-bar ul.right .has-dropdown .dropdown li.has-dropdown > .dropdown {
    right: 100%;
    left: auto;
    width: 100%;
}

.top-bar .js-generated {
    display: none;
}

/* Firefox Fixes */
@-moz-document url-prefix() {
    .top-bar ul li .button.small {
        padding-bottom: 6px;
    }
    .top-bar ul li.search form input[type=search] {
        font-size: 14px;
        height: 22px;
        padding: 3px;
    }
}

/* IE8 Fixes */
.lt-ie9 .top-bar ul li a {
    color: white;
    display: block;
    font-weight: bold;
    font-size: 13px;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
}

.lt-ie9 .top-bar ul li a.button {
    height: auto;
    line-height: 30px;
    margin-top: 7px;
}

.lt-ie9 .top-bar ul li a img {
    margin-top: -5px;
    vertical-align: middle;
}

.lt-ie9 .top-bar section > ul > li a:hover, .lt-ie9 .top-bar section > ul > li a:focus {
    color: #cccccc;
}

.lt-ie9 .top-bar section > ul > li:hover, .lt-ie9 .top-bar section > ul > li:focus {
    background: black;
}

.lt-ie9 .top-bar section > ul > li.search:hover, .lt-ie9 .top-bar section > ul > li.search:focus, .lt-ie9 .top-bar section > ul > li.has-button:hover, .lt-ie9 .top-bar section > ul > li.has-button:focus {
    background: none;
}

.lt-ie9 .top-bar section > ul > li.active {
    background: black;
    color: #d9d9d9;
}

.lt-ie9 .top-bar ul li.has-dropdown {
    padding-right: 34px;
}

.lt-ie9 .top-bar ul li.has-dropdown > ul li {
    padding-right: 0;
}

/* Visibility Classes ---------------------- */
/*                                           */
/* Standard (large) display targeting */
.show-for-small, .show-for-medium, .show-for-medium-down, .hide-for-large, .hide-for-large-up, .show-for-xlarge, .show-for-print {
    display: none !important;
}

.hide-for-small, .hide-for-medium, .hide-for-medium-down, .show-for-large, .show-for-large-up, .hide-for-xlarge, .hide-for-print {
    display: inherit !important;
}

/* Very large display targeting */
@media only screen and (min-width: 1441px) {
    .hide-for-small, .hide-for-medium, .hide-for-medium-down, .hide-for-large, .show-for-large-up, .show-for-xlarge {
        display: inherit !important;
    }

    .show-for-small, .show-for-medium, .show-for-medium-down, .show-for-large, .hide-for-large-up, .hide-for-xlarge {
        display: none !important;
    }

    ul.accordion {
        display: block;
    }
}

/* Medium display targeting */
@media only screen and (max-width: 1279px) and (min-width: 768px) {
    .hide-for-small, .show-for-medium, .show-for-medium-down, .hide-for-large, .hide-for-large-up, .hide-for-xlarge {
        display: inherit !important;
    }

    .show-for-small, .hide-for-medium, .hide-for-medium-down, .show-for-large, .show-for-large-up, .show-for-xlarge {
        display: none !important;
    }

    ul.accordion {
        display: block;
    }
}

/* iPad specific */
@media only screen and (device-width: 768px) {
    .sub.nav {
        margin-left: -100px;
    }

    dl.sub-nav dd a:before {
        content: "";
        display: inline-block;
    }

    ul.sub-nav li a {
        color: #fff;
        font-size: 8px;
        font-weight: bold;
        text-decoration: none;
        padding: 0 5px;
    }

    ul.accordion > li > ul > li a:before {
        content: "";
        font-weight: bold;
    }

    ul.accordion > li > ul > li > ul > li a:before {
        content: "";
        font-weight: bold;
    }
}

/* Small display targeting */
@media only screen and (max-width: 767px) {
    .show-for-small, .hide-for-medium, .show-for-medium-down, .hide-for-large, .hide-for-large-up, .hide-for-xlarge {
        display: inherit !important;
    }

    .hide-for-small, .show-for-medium, .hide-for-medium-down, .show-for-large, .show-for-large-up, .show-for-xlarge {
        display: none !important;
    }

    .active {
        display: block;
    }

    ul.sub-nav li a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        padding: 0 5px;
    }

    ul.sub-nav li:before {
        content: "";
        display: inline-block;
    }

    dl.sub-nav dd:before {
        content: "";
        display: inline-block;
    }

    .content-code {
        margin: 0 7px;
        padding: 15px;
        background: #eef6d9;
    }
}

/* Orientation targeting */
.show-for-landscape, .hide-for-portrait {
    display: inherit !important;
}

.hide-for-landscape, .show-for-portrait {
    display: none !important;
}

@media screen and (orientation: landscape) {
    .show-for-landscape, .hide-for-portrait {
        display: inherit !important;
    }

    .hide-for-landscape, .show-for-portrait {
        display: none !important;
    }
}

@media screen and (orientation: portrait) {
    .show-for-portrait, .hide-for-landscape {
        display: inherit !important;
    }

    .hide-for-portrait, .show-for-landscape {
        display: none !important;
    }
}

/* Touch-enabled device targeting */
.show-for-touch {
    display: none !important;
}

.hide-for-touch {
    display: inherit !important;
}

.touch .show-for-touch {
    display: inherit !important;
}

.touch .hide-for-touch {
    display: none !important;
}

/* Specific overrides for elements that require something other than display: block */
table.show-for-xlarge, table.show-for-large, table.hide-for-small, table.hide-for-medium {
    display: table !important;
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {
    .touch table.hide-for-xlarge, .touch table.hide-for-large, .touch table.hide-for-small, .touch table.show-for-medium {
        display: table !important;
    }
}

@media only screen and (max-width: 767px) {
    table.hide-for-xlarge, table.hide-for-large, table.hide-for-medium, table.show-for-small {
        display: table !important;
    }
}

/* 1280 tablet ------------ */
@media only screen and (max-device-width: 1280px) {
    /* NavBar --- */
    /*            */
    .touch .nav-bar li.has-flyout > a {
        padding-right: 36px !important;
    }
}

/* Covering almost all ----- */
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .flex-video {
        padding-top: 0;
    }
}

/* Between Medium and Small */
@media only screen and (max-width: 1279px) and (min-width: 768px) {
    /* NavBar --- */
    /*            */
    .touch .nav-bar li a {
        font-size: 13px;
    }

    .touch .nav-bar li.has-flyout > a.flyout-toggle {
        padding: 20px !important;
    }

    .touch .nav-bar li.has-flyout > a {
        padding-right: 36px !important;
    }

    /* Clearing --- */
    /*              */
    .clearing-main-right, .clearing-main-left {
        height: 100%;
        width: 40px;
        top: 0;
        border: none;
    }

    .clearing-main-right:before, .clearing-main-left:before {
        position: absolute;
        top: 50%;
    }

    .clearing-main-left {
        left: 0;
    }

    .clearing-main-left:before {
        left: 5px;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: solid 16px;
        border-color: transparent white transparent transparent;
    }

    .clearing-main-right {
        height: 100%;
        right: 0;
    }

    .clearing-main-right:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: solid 16px;
        border-color: transparent transparent transparent white;
    }
}

/* Small Devices ------------ */
@media only screen and (max-width: 767px) {
    /* Global Misc --- */
    /*                 */
    .left, .right {
        float: none;
    }

    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    /* The Grid --- */
    /*              */
    .row {
        width: auto;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .column, .columns {
        width: auto !important;
        float: none;
    }

    .column:last-child, .columns:last-child {
        float: none;
    }

    [class*="column"] + [class*="column"]:last-child {
        float: none;
    }

    .column:before, .columns:before, .column:after, .columns:after {
        content: "";
        display: table;
    }

    .column:after, .columns:after {
        clear: both;
    }

    .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten {
        margin-left: 0 !important;
    }

    .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten {
        left: auto;
    }

    .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten {
        right: auto;
    }

    /* Mobile 4-column Grid */
    .row .mobile-one {
        width: 25% !important;
        float: left;
        padding: 0 15px;
    }

    .row .mobile-one:last-child {
        float: right;
    }

    .row .mobile-one.end {
        float: left;
    }

    .row.collapse .mobile-one {
        padding: 0;
    }

    .row .mobile-two {
        width: 50% !important;
        float: left;
        padding: 0 15px;
    }

    .row .mobile-two:last-child {
        float: right;
    }

    .row .mobile-two.end {
        float: left;
    }

    .row.collapse .mobile-two {
        padding: 0;
    }

    .row .mobile-three {
        width: 75% !important;
        float: left;
        padding: 0 15px;
    }

    .row .mobile-three:last-child {
        float: right;
    }

    .row .mobile-three.end {
        float: left;
    }

    .row.collapse .mobile-three {
        padding: 0;
    }

    .row .mobile-four {
        width: 100% !important;
        float: left;
        padding: 0 15px;
    }

    .row .mobile-four:last-child {
        float: right;
    }

    .row .mobile-four.end {
        float: left;
    }

    .row.collapse .mobile-four {
        padding: 0;
    }

    .push-one-mobile {
        left: 25%;
    }

    .pull-one-mobile {
        right: 25%;
    }

    .push-two-mobile {
        left: 50%;
    }

    .pull-two-mobile {
        right: 50%;
    }

    .push-three-mobile {
        left: 75%;
    }

    .pull-three-mobile {
        right: 75%;
    }

    /* Navbar for small devices */
    ul.accordion {
        display: none;
        border: none;
    }

    ul.showMobileNavigation {
        display: block;
        border: none;
    }

    ul.accordion > li > ul > li a:before {
        content: "";
        font-weight: bold;
        display: inline-block;
    }

    ul.accordion > li > ul > li > ul > li a:before {
        content: "";
        font-weight: bold;
        display: inline-block;
    }

    .smalldeviceNav {
        float: left;
        margin: 0 5px 0 0;
    }

    .toggleMenu {
        display: block !important;
    }

    .accordion {
        display: none;
        position: absolute;
        top: 45px;
        width: 50%;
        z-index: 10000;
    }

}

/* Very Small Devices (screens with a max-width 480px ) ------------ */
@media only screen and (max-width: 480px) {
    ul.breadcrumbs li a, ul.breadcrumbs li span {
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        padding-left: 5px;
    }

}

/* Changes made when adapting this theme to Viewport 1.1 */

/* -----------------------------------------
   Basic Elements
----------------------------------------- */

h4,
h5 {
    margin-bottom: 1.3em;
}

blockquote p {
    background: transparent;
    padding-top: 10px;
    margin: 0;
}

.inner-content ul,
.inner-content ol {
    margin-left: 20px;
    line-height: 1.6em;
}

.inner-content ul li {
    list-style-type: square;
}

.inner-content ol li {
    list-style-type: decimal;
}

.current a {
    color: #DCDB4D;
}

/* -----------------------------------------
   sticky Footer
----------------------------------------- */

* {
    margin: 0;
}

body {
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -110px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
    clear: both;
    height: 110px; /* '.push' must be the same height as 'footer' */
}

/* -----------------------------------------
   Search
----------------------------------------- */

.search-filters {
    float: right;
    margin-top: 6px;
}

.search-filters button {
    padding: 5px 10px;
    background: #939EAD;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: solid 4px #DCDB4D;
    color: #404040;
    font-weight: 700;
    font-size: 12px;
}

.search-filters .muted {
    /*padding: 8px 10px 5px;*/
    padding: 5px 10px;
    border-top: solid 4px #fff;
    font-weight: 400;
    color: #fff;
}

.search-filters .muted:hover {
    color: #DCDB4D;
}

/* -----------------------------------------
   Search results
----------------------------------------- */

.rlt-cell {
    padding: 10px;
    margin-bottom: 15px;
    width: 49%;
    float: left;
    background-color: #F7F7F7;
    min-height: 170px;
}

.rlt-cell-pg{
    margin-bottom: 15px;
    width: 100%;
    padding:10px;
}

.rlt-cell + .rlt-cell {
    margin-left: 2%;
}

.rlt-cell:hover,
.rlt-cell-pg:hover {
    background: #e9e9e9;
}

.rlt-cell p,
.rlt-cell-pg p {
    margin-bottom: 5px;
}

.rlt-cell h4,
.rlt-cell-pg h4{
    margin-bottom: 5px;
}

.rlt-cell a,
.rlt-cell-pg a{
    color: #009DDF;
}

.rlt-title {
    color: #3F7A99;
    font-family: "DINWeb-Medium", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-size: 1.25em;
}

.txtHome hr {
    margin: 20px 0 15px;
}

.rlt-cell a:hover,
.rlt-cell-pg a:hover {
    text-decoration: none;
}

.rlt-block {
    overflow: hidden;
    margin: 10px;
}

.rlt-img {
    float: left;
    border-radius: 25px;
}

@media only screen and (max-width: 860px) {
    .rlt-cell {
        float: none;
        width: 100%;
    }

    .rlt-cell + .rlt-cell {
        margin-left: 0px;
    }
}

/* -----------------------------------------
   Macros styling - Admonition
----------------------------------------- */

.admonition {
    margin: 0 0 10px 0;
    padding: 15px 50px 15px 15px;
}

.admonition p {
    margin: 0 0 10px 0;
    color: inherit;
}

.admonition a {
    color: #45545B;
}

.admonition a:hover {
    text-decoration: underline;
}

.admonition ul {
    margin-bottom: 0;
    margin-left: 0;
}

.admonition ul li {
    list-style-type: none;
}

.admonition .title {
    font-weight: 800;
    padding-bottom: 5px;
}

.admonition.success {
    background: #e9e9e9;
    color: #222222;
}

.admonition.success a {
    color: #009DDF;
}

.info {
    background: #5091b2;
    color: #e9f7fe;
}

.warning {
    background: #e7bb2e;
    color: #fffdf3;
}

.error {
    background: #de5959;
    color: #ffe9e9;
}

.admonition .emoticon {
    margin: 3px 0 0 0;
}

table{
    width: 100%;  
    margin:10px 0;
}

table h1,
table h2,
table h3{
    margin:0;
}

.header-img{
    float: left;
    height: 100px;
    margin: 0 15px 0 0;
}

.header-img ~ a h1{
    line-height: 100px;
    margin: 0;
}

/* -----------------------------------------
   Macros styling - Panels
----------------------------------------- */

.sp-panel {
    /*background: #D7DEE2;*/
    margin: 0;
}

.sp-panel .code-header {
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: none;
    font-weight: 800;
    font-size: 1.1em;
}

.sp-panel .code-block {
    overflow-x: auto;
}

.sp-page-content .sp-content-info .sp-content-info-panel li{
    list-style:none;
}