
#set ($itemInvisible = "style=visibility:hidden;")

<!DOCTYPE html>
<html>

<head>

    <title>$statusCode Error</title>

    $include.template("include-htmlheader.vm")

</head>

<body class="bg">
    <div class="wrapper">
        <!-- Header -->
        <header>

            $include.template("include-header.vm")

        </header>
        <!-- End Header -->

        <!-- container -->
        <div id="container">
            <!-- Main Content Section -->
            <div class="row">

                <!-- Nav Sidebar Left-->
                <div class="leftbar" #if($statusCode=="403")$itemInvisible#end>

                    $include.template("include-leftbar.vm")

                </div>

                <!-- Main Content Section -->
                <div class="main">
                    <div class="eight columns">

                        <!-- Breadcrumb -->
                        <div id="breadcrumb" class="row">

                            <!-- Navigation button for small devices -->
                            <div class="smalldeviceNav">
                                <a class="toggleMenu" href="#"></a>
                            </div>
                            <!-- End Navigation button for small devices -->

                            <ul class="breadcrumbs">
                                <li>
                                    <a href="$home.link">Home</a>
                                </li>
                            </ul>

                        </div>
                        <!-- End Breadcrumb -->

                        <!-- Inner Content -->
                        <div class="inner-content" style="min-height: initial;">
                            <div class="row">
                                <div class="twelve columns">
                                    <div class="txt">
                                        <h1>$statusCode &ndash; $statusText</h1>
                                        #if($statusCode=="404")
                                        <h2>Try doing a search or
                                            <a href="$home.link" style="color: #DCDB4D;">Go to Homepage</a>
                                        </h2>
                                        #elseif($statusCode=="403")
                                        <h2>Try logging in</h2>
                                        #end
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Inner Content -->

                    </div>
                </div>

                <!-- Sidebar Right-->
                <div class="rightbar" #if($statusCode=="403")$itemInvisible#end>

                    $include.template("include-rightbar.vm")

                </div>
                <!-- End Sidebar Right-->

            </div>
            <!-- End Main Content Section -->
        </div>
        <!-- End container -->
        <div class="push"></div>
    </div>
    <!-- End wrapper -->


    <!-- Footer -->
    <footer>

        $include.template("include-footer.vm")

    </footer>
    <!-- End Footer -->


</body>
</html>