<div class="two columns">
    <div class="sidebox">

        <form class="search-form" action="${space.url}/search" method="GET">
            <input class="searchtxt" type="text" placeholder="Search" autocomplete="off" name="q" value="$!searchRequest.queryString"/>
            <input class="submitbtn" type="image" src="${theme.baseUrl}/images/search.png" width="20px"/>
        </form>

    </div>

    <div class="sidebox">
        <div class="boxplus user-info">
            <img class="user-img" src="${contextPath}/$user.imageUrl"/>
            <p class="user-name">$user.fullName</p>         
        </div>
    </div>

    <div class="sidebox">
        <div class="boxplus">
            <p class="sidebox-header">Personal Links</p>
            <ul>
                <li><a href="#">First Link</a></li>
                <li><a href="#">The Second Link</a></li>
                <li><a href="#">Another Link</a></li>
                <li><a href="#">The last Link</a></li>
            </ul>
        </div>
    </div>

    <div class="sidebox">
        <div class="boxplus">
            <p class="sidebox-header">Company Links</p>
            <ul>
                <li><a href="#">First Link</a></li>
                <li><a href="#">The Second Link</a></li>
                <li><a href="#">Another Link</a></li>
                <li><a href="#">The last Link</a></li>
            </ul>
        </div>
    </div>


    <div class="sidebox">
        <b>Updates Feed</b>
        <p>Manage your Documentation in the Confluence Wiki. Helvetica Manage your Documentation in the<a href="#">
            Confluence Wiki</a>. Helvetica Manage your Documentation in the Confluence Wiki.
        </p>
    </div>

    <!--<div class="sidebox">-->
        <!--<p>$include.page("_calender")</p>-->
    <!--</div>-->


    <div class="sidebox">
        <b>Twitter Feed</b>
        <li>
            <p>@Helvetica Manage your Documentation in the Confluence Wiki. #Helvetica Manage your Documentation in the
                #Confluence Wiki. Helvetica Manage your
                <a href="#">bit.ly/wlo8kh4vOU</a>
            </p>
        </li>
    </div>

</div>