<!DOCTYPE html>
<html>

    <head>

        <title>$page.title</title>

        $template.path("/**").weight("1000")

        $include.template("include-htmlheader.vm")

    </head>

    <body class="bg">
        <div class="wrapper">
            <!-- Header -->
            <header>

                $include.template("include-header.vm")

            </header>
            <!-- End Header -->

            <!-- container -->
            <div id="container">
                <!-- Main Content Section -->
                <div class="row">

                    <!-- Nav Sidebar Left-->
                    <div class="leftbar">

                        $include.template("include-leftbar.vm")

                    </div>

                    <!-- Main Content Section -->
                    <div class="main">
                        <div class="eight columns">

                            <!-- Breadcrumb -->
                            <div id="breadcrumb" class="row">

                                $include.template("breadcrumbs.vm")

                            </div>
                            <!-- End Breadcrumb -->

                            <!-- Inner Content -->
                            <div class="inner-content">
                                <div class="row">
                                    <div class="twelve columns">
                                        <div class="txtHome">
                                            $page.renderContent("layouts/layout.vm",{
                                            "info" : "overrides/admonitions.vm",
                                            "tip" : "overrides/admonitions.vm",
                                            "warning" : "overrides/admonitions.vm",
                                            "note" : "overrides/admonitions.vm",
                                            "code" : "overrides/panels.vm",
                                            "panel" : "overrides/panels.vm",
                                            "noformat" : "overrides/panels.vm"}
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Inner Content -->

                        </div>
                    </div>

                    <!-- Sidebar Right-->
                    <div class="rightbar">

                        $include.template("include-rightbar.vm")

                    </div>
                    <!-- End Sidebar Right-->

                </div>
                <!-- End Main Content Section -->
            </div>
            <!-- End container -->
            <div class="push"></div>
        </div>
        <!-- End wrapper -->


        <!-- Footer -->
        <footer>

            $include.template("include-footer.vm")

        </footer>
        <!-- End Footer -->



    </body>
</html>