<!DOCTYPE html>
<html>

<head>

    <title>Search</title>

    $include.template("include-htmlheader.vm")

</head>

<body class="bg">
    <div class="wrapper">
        <!-- Header -->
        <header>

            $include.template("include-header.vm")

        </header>
        <!-- End Header -->

        <!-- container -->
        <div id="container">
            <!-- Main Content Section -->
            <div class="row">

                <!-- Nav Sidebar Left-->
                <div class="leftbar">

                    $include.template("include-leftbar.vm")

                </div>

                <!-- Main Content Section -->
                <div class="main">
                    <div class="eight columns">

                        <!-- Breadcrumb -->
                        <div id="breadcrumb" class="row">
                            <!-- Navigation button for small devices -->
                                <div class="smalldeviceNav">
                                    <a class="toggleMenu" href="#"></a>
                                </div>
                            <!-- End Navigation button for small devices -->

                            <ul class="breadcrumbs">
                                <li>
                                    <a href="$home.link">Home</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Breadcrumb -->

                        <!-- Inner Content -->
                        <div class="inner-content">
                            <div class="row">
                                <div class="twelve columns">
                                    <div class="txtHome">

                                        <h1>Search for "$searchRequest.queryString"</h1>

                                        <div class="search-filters">
                                            <button class="user muted">People</button>
                                            <button class="page">Pages</button>
                                        </div>

                                        <h2>${searchResults.total} #if(${searchResults.total} == 1) Result #else Results #end</h2>

                                        <hr class="hide-for-small"/>

                                        #foreach($result in $searchResults.results)
                                        <div class="rlt-cell-pg">
                                            <a href="$result.abstractPage.link">
                                                <h4 class="rlt-title">$result.displayTitle</h4>
                                                <p class="rlt-desc">$result.description</p>
                                                <span class="rlt-link">$result.abstractPage.absoluteLink</span>
                                            </a>
                                        </div>
                                        #end

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Inner Content -->

                    </div>
                </div>

                <!-- Sidebar Right-->
                <div class="rightbar">

                    $include.template("include-rightbar.vm")

                </div>
                <!-- End Sidebar Right-->

            </div>
            <!-- End Main Content Section -->
        </div>
        <!-- End container -->
        <div class="push"></div>
    </div>
    <!-- End wrapper -->

    <!-- Footer -->
    <footer>

        $include.template("include-footer.vm")

    </footer>
    <!-- End Footer -->

</body>
</html>
